<div
  class="node-wrapper"
  [class.sky-angular-tree-node-active]="getActiveClass()"
  [class.sky-angular-tree-node-selected]="getSelectedClass()"
  [style.padding-left]="node.getNodePadding()"
>

  <tree-node-expander
    [node]="node"
  >
  </tree-node-expander>

  <sky-checkbox *ngIf="showCheckbox()"
    [checked]="isSelected"
    [id]="node.data.id"
    [label]="node.data.name"
    [ngClass]="{ 'sky-checkbox-indeterminate': isPartiallySelected }"
    (change)="onCheckboxChange(node, $event)"
  >
  </sky-checkbox>

  <ng-content select="sky-angular-tree-context-menu"></ng-content>

  <!-- Note: we've made changes to the click event, tabindex, and classes when compared to the original template. -->
  <!-- https://github.com/500tech/angular-tree-component/blob/master/lib/components/tree-node-wrapper.component.ts -->
  <div
    class="node-content-wrapper"
    [allowDragoverStyling]="node.allowDragoverStyling()"
    [attr.tabindex]="tabIndex"
    [treeAllowDrop]="node.allowDrop"
    [treeDrag]="node"
    [treeDragEnabled]="node.allowDrag()"
    (click)="onNodeContentClick(node, $event)"
    (contextmenu)="node.mouseAction('contextMenu', $event)"
    (dblclick)="node.mouseAction('dblClick', $event)"
    (focus)="onFocus()"
    (treeDrop)="node.onDrop($event)"
    (treeDropDragEnter)="node.mouseAction('dragEnter', $event)"
    (treeDropDragLeave)="node.mouseAction('dragLeave', $event)"
    (treeDropDragOver)="node.mouseAction('dragOver', $event)"
    #nodeContentWrapper
  >
    <tree-node-content
      [index]="index"
      [node]="node"
      [template]="templates?.treeNodeTemplate"
    >
    </tree-node-content>
  </div>
</div>

<ng-container
  [ngTemplateOutlet]="templates?.treeNodeWrapperTemplate"
  [ngTemplateOutletContext]="{ $implicit: node, node: node, index: index, templates: templates }">
</ng-container>
