@import '~@skyux/theme/scss/mixins';
@import "~@skyux/theme/scss/_compat/mixins";

@import "~angular-tree-component/dist/angular-tree-component";

.sky-angular-tree-wrapper ::ng-deep {

  .angular-tree-component {
    cursor: initial;
  }

  // Tree & Nodes
  .node-wrapper {
    display: flex;
    align-items: center;
    padding: 4px 5px; // Allows 2px of space for drop-slot, but total 10px between each node.
    border-left: $sky-nav-selected-border-width solid transparent; // Whitespace for split-view active style.
  }
  .node-content-wrapper {
    padding: 0;
    cursor: pointer;
  }
  .tree-children, .tree-node-level-1.tree-node-leaf {
    padding-left: 35px;
  }

  // Toggle indicator
  .toggle-children-wrapper {
    padding: 0 10px 0 0;
  }
  .toggle-children {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 14px/1 FontAwesome;
    background-image: none;
    width: 22px;
    height: 22px;
  }
  .toggle-children:before {
    position: absolute;
    content: "\f054";
  }
  .toggle-children-wrapper-expanded .toggle-children {
    transform: initial;
  }
  .toggle-children-wrapper-expanded .toggle-children:before {
    content: "\f078";
  }
  .toggle-children-placeholder {
    width: 32px;
    height: 22px;
    padding: 0 10px 0 0;
  }

  // Hover states
  .node-content-wrapper:hover {
    box-shadow: none;
    background: none;
  }

  // Focused states
  // .sky-angular-tree-node-focused {
  //   outline: -webkit-focus-ring-color auto 5px;
  // }

  // Selected states
  .sky-angular-tree-node-selected {
    background: $sky-background-color-selected;
  }

  // Active states
  .sky-angular-tree-node-active {
    background-color: $sky-background-color-neutral-light;
    color: $sky-text-color-default;
    border-left: $sky-nav-selected-border-width solid $sky-highlight-color-info;
  }

  // Checkboxes
  sky-checkbox {
    display: inline-flex;
  }

  .sky-switch-control {
    margin: 0 10px 0 0;
  }

  // TODO: Remove me when checkboxes support indeterminate!
  .sky-checkbox-indeterminate .fa-check:before {
    content: "\f0c8";
    position: relative;
    top: -.25px;
    font-size: 14px;
  }

  // Dropdowns
  .sky-angular-tree-context-menu {
    margin: 0 5px 0 0;
  }
}


// Split-view "active" states
// .sky-split-view {
//   .sky-angular-tree {
//     .tree-node-active .node-wrapper {
//       background-color: $sky-background-color-neutral-light;
//       color: $sky-text-color-default;
//       border-left: $sky-nav-selected-border-width solid $sky-highlight-color-info;
//     }
//     .tree-node-active .tree-children .node-wrapper {
//       background-color: inherit;
//       border-left: $sky-nav-selected-border-width solid transparent;
//     }
//   }
// }

