<div
  class="sky-tree-view-toolbar"
>
  <sky-toolbar>
    <sky-toolbar-item *ngIf="showSelectButtons">
      <button
        class="sky-btn sky-btn-link sky-tree-view-select-all-btn"
        type="button"
        (click)="selectAll()"
      >
        {{ 'skyux_tree_view_select_all' | skyLibResources }}
      </button>
    </sky-toolbar-item>
    <sky-toolbar-item *ngIf="showSelectButtons">
      <button
        class="sky-btn sky-btn-link sky-tree-view-clear-all-btn"
        type="button"
        (click)="clearAll()"
      >
        {{ 'skyux_tree_view_clear_all' | skyLibResources }}
      </button>
    </sky-toolbar-item>
    <sky-toolbar-view-actions>
      <button
        class="sky-btn sky-btn-default sky-margin-inline-default sky-tree-view-expand-all-btn"
        title="{{ 'skyux_tree_view_expand_all' | skyLibResources }}"
        type="button"
        (click)="expandAll()"
      >
        <sky-icon
          icon="angle-double-down"
        >
        </sky-icon>
      </button>
      <button
        class="sky-btn sky-btn-default sky-margin-inline-default sky-tree-view-collapse-all-btn"
        title="{{ 'skyux_tree_view_collapse_all' | skyLibResources }}"
        type="button"
        (click)="collapseAll()"
      >
        <sky-icon
          icon="angle-double-up"
        >
        </sky-icon>
      </button>
    </sky-toolbar-view-actions>
  </sky-toolbar>
</div>
