<div
  class="node-wrapper"
  [class.sky-tree-view-node-selected]="getSelectedClass()"
  [style.padding-left]="node.getNodePadding()"
>

  <!-- Expander -->
  <tree-node-expander
    [node]="node"
  >
  </tree-node-expander>

  <!-- Checkbox -->
  <sky-checkbox *ngIf="node.options.useCheckbox"
    [checked]="isSelected"
    [hidden]="isCheckboxHidden()"
    [id]="node.data.id"
    [label]="node.data.name"
    [ngClass]="{ 'sky-checkbox-indeterminate': isPartiallySelected }"
    (change)="onCheckboxChange(node, $event)"
  >
  </sky-checkbox>

  <!-- Context Menu -->
  <ng-content select="sky-tree-view-context-menu"></ng-content>

  <!-- Note: we've hijacked the (click) event to handle checkbox selecting when user clicks a node. -->
  <div
    class="node-content-wrapper"
    [class.node-content-wrapper-active]="node.isActive"
    [class.node-content-wrapper-focused]="node.isFocused"
    (click)="onNodeContentClick(node, $event)"
    (dblclick)="node.mouseAction('dblClick', $event)"
    (contextmenu)="node.mouseAction('contextMenu', $event)"
    (treeDrop)="node.onDrop($event)"
    (treeDropDragOver)="node.mouseAction('dragOver', $event)"
    (treeDropDragLeave)="node.mouseAction('dragLeave', $event)"
    (treeDropDragEnter)="node.mouseAction('dragEnter', $event)"
    [treeAllowDrop]="node.allowDrop"
    [allowDragoverStyling]="node.allowDragoverStyling()"
    [treeDrag]="node"
    [treeDragEnabled]="node.allowDrag()"
  >
    <tree-node-content
      [node]="node"
      [index]="index"
    >
    </tree-node-content>
  </div>
</div>
