@import '~@skyux/theme/scss/mixins';
@import "~@skyux/theme/scss/_compat/mixins";

@import "~angular-tree-component/dist/angular-tree-component";

.sky-tree-view {

  // Tree & Nodes
  .node-wrapper {
    align-items: center;
    padding: 4px 5px; // Allows 2px of space for drop-slot, but total 10px between each node.
    border-left: $sky-nav-selected-border-width solid transparent; // Whitespace for split-view active style.
  }
  .tree-children .tree-node.tree-node-collapsed, .tree-children .tree-node.tree-node-expanded {
    padding-left: 22px;
  }
  .node-content-wrapper {
    padding: 0;
  }
  .tree-children, .tree-node-level-1.tree-node-leaf {
    padding-left: 5px;
  }

  // Toggle indicator
  .toggle-children-wrapper {
    padding: 0 5px 0 0;
  }
  .toggle-children {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 14px/1 FontAwesome;
    background-image: none;
    width: 22px;
    height: 22px;
  }
  .toggle-children:before {
    position: absolute;
    content: "\f054";
  }
  .toggle-children-wrapper-expanded .toggle-children {
    transform: initial;
  }
  .toggle-children-wrapper-expanded .toggle-children:before {
    content: "\f078";
  }
  .toggle-children-placeholder {
    width: 22px;
    height: 22px;
    padding: 0 5px 0 0;
  }

  // Hover/focus/selected states
  .node-content-wrapper-focused {
    background: none;
    box-shadow: none;
  }
  .node-content-wrapper-active:hover {
    background: none;
  }
  .node-content-wrapper:hover {
    background: none;
    box-shadow: none;
  }
  .node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover {
    box-shadow: none;
  }
  .node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
    background: none;
  }
  .node-content-wrapper-focused .sky-tree-node-content {
    // TODO: Cross-browser support needed!
    outline: -webkit-focus-ring-color auto 5px;
  }
  .node-content-wrapper-active.node-content-wrapper-focused .sky-tree-node-content {
    background: none;
    box-shadow: none;
  }
  .sky-tree-view-node-selected {
    background-color: $sky-background-color-selected;
  }

  // Checkboxes
  sky-checkbox {
    display: inline-flex;
  }

  // TODO: Remove me when checkboxes support indeterminate!
  .sky-checkbox-indeterminate .fa-check:before {
    content: "\f068";
  }

  // Dropdowns
  .sky-tree-view-context-menu {
    margin: 0 5px 0 0;
  }
}

// Split-view "active" states
.sky-split-view {
  .sky-tree-view {
    .tree-node-active .node-wrapper {
      background-color: $sky-background-color-neutral-light;
      color: $sky-text-color-default;
      border-left: $sky-nav-selected-border-width solid $sky-highlight-color-info;
    }
    .tree-node-active .tree-children .node-wrapper {
      background-color: inherit;
      border-left: $sky-nav-selected-border-width solid transparent;
    }
  }
}
