@import '~@skyux/theme/scss/mixins';
@import "~@skyux/theme/scss/_compat/mixins";

@import "~angular-tree-component/dist/angular-tree-component";

.sky-tree-view {
  // Nodes
  .node-wrapper {
    border-left: $sky-nav-selected-border-width solid transparent;
    padding-left: 5px !important; // TODO: Find better way to do this.
    padding: 4px 5px; // Allows 2px of space for drop-slot, but total 10px between each node.
    display: inline-flex;
    align-items: center;
  }
  .tree-children .tree-node.tree-node-collapsed, .tree-children .tree-node.tree-node-expanded {
    padding-left: 22px;
  }
  .node-content-wrapper {
    padding: 0;
  }
  .tree-children, .tree-node-level-1.tree-node-leaf {
    padding-left: 5px;
  }

  // Toggle
  .toggle-children-wrapper {
    padding: 0 5px 0 0;
  }
  .toggle-children {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: normal normal normal 14px/1 FontAwesome;
    background-image: none;
    width: 22px;
    height: 22px;
  }
  .toggle-children:before {
    position: absolute;
    content: "\f054";
  }
  .toggle-children-wrapper-expanded .toggle-children {
    transform: initial;
  }
  .toggle-children-wrapper-expanded .toggle-children:before {
    content: "\f078";
  }
  .toggle-children-placeholder {
    width: 22px;
    height: 22px;
    padding: 0 5px 0 0;
  }

  // Selection classes
  // .tree-node-active .node-wrapper {
  //   background-color: $sky-background-color-neutral-light;
  //   color: $sky-text-color-default;
  //   border-left: $sky-nav-selected-border-width solid $sky-highlight-color-info;
  // }
  // .tree-node-active .tree-children .node-wrapper {
  //   background-color: inherit;
  //   border-left: $sky-nav-selected-border-width solid transparent;
  // }

  // &.sky-tree-view-single-select .tree-node-active .node-wrapper,
  // &.sky-tree-view-multi-select .tree-node-active .node-wrapper {
  //   background-color: $sky-background-color-selected;
  //   border-left: $sky-nav-selected-border-width solid transparent;
  // }
  // &.sky-tree-view-single-select .tree-node-active .tree-children .node-wrapper,
  // &.sky-tree-view-multi-select .tree-node-active .tree-children .node-wrapper {
  //   background-color: inherit;
  // }

  .sky-tree-view-node-selected {
    background-color: $sky-background-color-selected;
  }

  // Hover/focus states
  .node-content-wrapper-focused {
    background: none;
    box-shadow: none;
  }
  .node-content-wrapper-active:hover {
    background: none;
  }
  .node-content-wrapper:hover {
    background: none;
    box-shadow: none;
  }
  .node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover {
    box-shadow: none;
  }
  .node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
    background: none;
  }
  .node-content-wrapper-focused .sky-tree-node-content {
    // TODO: Cross-browser support needed!
    outline: -webkit-focus-ring-color auto 5px;
  }
  .node-content-wrapper-active.node-content-wrapper-focused .sky-tree-node-content {
    background: none;
    box-shadow: none;
  }

  // Custom SKY tree styles
  .sky-tree-node-content {
    padding: 0 5px;
    display: inline-flex;
  }

  // Checkboxes
  // tree-node-checkbox, .tree-node-checkbox {
  //   display:none;
  // }

  .sky-checkbox-wrapper {
    position: relative;
    top: -5px;
  }

  // TODO: Remove me when checkboxes support indeterminate!
  .sky-checkbox-indeterminate .fa-check:before {
    content: "\f068";
  }

  // Dropdowns
  .sky-dropdown {
    display: inline-flex;

    // .sky-dropdown-button-type-context-menu {
    //   padding: 0 3px;
    //   width: 24px;
    //   height: 24px;
    // }
  }
}

.sky-split-view {
  .sky-tree-view {
    .tree-node-active .node-wrapper {
      background-color: $sky-background-color-neutral-light;
      color: $sky-text-color-default;
      border-left: $sky-nav-selected-border-width solid $sky-highlight-color-info;
    }
    .tree-node-active .tree-children .node-wrapper {
      background-color: inherit;
      border-left: $sky-nav-selected-border-width solid transparent;
    }
  }
}
