<div
  class="app-screenshot"
>

<h1>Sky tree view</h1>

<h3>Basic</h3>
<div
  class="sky-padding-even-default"
  id="screenshot-tree-view-basic"
>
  <sky-angular-tree-root>
    <!-- angular-tree-component native API -->
    <tree-root
      [nodes]="nodes"
      #treeBasic
    >
      <!--- SKYUX template -->
      <ng-template
        let-index="index"
        let-node
        #treeNodeWrapperTemplate
      >
        <sky-angular-tree-node-wrapper
          [index]="index"
          [node]="node"
        >
        </sky-angular-tree-node-wrapper>
      </ng-template>
    </tree-root>
  </sky-angular-tree-root>
</div>

<h3>Context menus</h3>
<div
  class="sky-padding-even-default"
  id="screenshot-tree-view-context-menus"
>
  <sky-angular-tree-root>
    <tree-root
      [nodes]="nodes"
      #treeContextMenus
    >
      <ng-template
        let-index="index"
        let-node
        #treeNodeWrapperTemplate
      >
        <sky-angular-tree-node-wrapper
          [index]="index"
          [node]="node"
        >
          <sky-angular-tree-context-menu>
            <sky-dropdown
              buttonType="context-menu"
            >
              <sky-dropdown-menu>
                <sky-dropdown-item *ngFor="let item of dropdownItems">
                  <button
                    type="button"
                    (click)="actionClicked(item.name, node)"
                  >
                    {{ item.name }}
                  </button>
                </sky-dropdown-item>
              </sky-dropdown-menu>
            </sky-dropdown>
          </sky-angular-tree-context-menu>
        </sky-angular-tree-node-wrapper>
      </ng-template>

    </tree-root>

  </sky-angular-tree-root>
</div>

<h3>Cascading checkboxes</h3>
<div
  id="screenshot-tree-view-cascading-checkboxes"
  class="sky-padding-even-default"
>
  <sky-angular-tree-root
    [showToolbar]="true"
  >
    <tree-root
      [nodes]="nodes"
      [options]="optionsCascading"
      #treeCascading
    >
      <ng-template
        let-index="index"
        let-node
        #treeNodeWrapperTemplate
      >
        <sky-angular-tree-node-wrapper
          [index]="index"
          [node]="node"
        >
        </sky-angular-tree-node-wrapper>
      </ng-template>
    </tree-root>
  </sky-angular-tree-root>
</div>

<h3>Non-cascading checkboxes</h3>
<div
  id="screenshot-tree-view-non-cascading-checkboxes"
  class="sky-padding-even-default"
>
  <sky-angular-tree-root
    [showToolbar]="true"
  >
    <tree-root
      [nodes]="nodes"
      [options]="optionsNoncascading"
      #treeNonCascading
    >
      <ng-template
        let-index="index"
        let-node
        #treeNodeWrapperTemplate
      >
        <sky-angular-tree-node-wrapper
          [index]="index"
          [node]="node"
        >
        </sky-angular-tree-node-wrapper>
      </ng-template>
    </tree-root>
  </sky-angular-tree-root>
</div>

<h3>Checkboxes with leaf node selection only</h3>
<div
  id="screenshot-tree-view-leaf-selection-only"
  class="sky-padding-even-default"
>
  <sky-angular-tree-root
    [showToolbar]="true"
    [options]="optionsLeafNodeOnly"
  >
    <tree-root
      [nodes]="nodes"
      [options]="optionsNoncascading"
      #treeNonCascading
    >
      <ng-template
        let-index="index"
        let-node
        #treeNodeWrapperTemplate
      >
        <sky-angular-tree-node-wrapper
          [index]="index"
          [node]="node"
        >
        </sky-angular-tree-node-wrapper>
      </ng-template>
    </tree-root>
  </sky-angular-tree-root>
</div>

<h3>Binding to events</h3>
<div
  class="sky-padding-even-default"
>
  <sky-angular-tree-root
    [showToolbar]="true"
  >
    <tree-root
      [nodes]="nodes"
      [options]="optionsCascading"
      (deselect)="onSelectionChange($event)"
      (select)="onSelectionChange($event)"
      #treeEvents
    >
      <ng-template
        let-index="index"
        let-node
        #treeNodeWrapperTemplate
      >
        <sky-angular-tree-node-wrapper
          [index]="index"
          [node]="node"
        >
        </sky-angular-tree-node-wrapper>
      </ng-template>
    </tree-root>
  </sky-angular-tree-root>
  <p>
    <b>Selected nodes:</b>
    {{ selectedNodeIds }}
  </p>
</div>

<h3>Split view</h3>
<p>Split view doesn't exist yet, but this is to demonstrate "active" styles when selecting nodes</p>
<div
  id="screenshot-tree-view-split-view"
  class="sky-padding-even-default sky-split-view"
>
  <sky-angular-tree-root>
    <tree-root
      [nodes]="nodes"
      #treeSplitView
    >
      <ng-template
        let-index="index"
        let-node
        #treeNodeWrapperTemplate
      >
        <sky-angular-tree-node-wrapper
          [index]="index"
          [node]="node"
        >
        </sky-angular-tree-node-wrapper>
      </ng-template>
    </tree-root>
  </sky-angular-tree-root>
</div>

</div>
