<h1>Tree-view</h1>

<sky-tree-view
  [options]="skyTreeViewExtraOptions"
>

    <!-- angular-tree-component native API -->
    <tree-root
      [nodes]="nodes"
      [options]="options"
      (select)="onSelect($event)"
      (deselect)="onDeselect($event)"
      (updateData)="onUpdateData($event)"
      #tree
    >

      <!--- SKYUX template -->
      <ng-template
        let-index="index"
        let-node
        #treeNodeWrapperTemplate
      >
        <sky-tree-view-node-wrapper
          [index]="index"
          [node]="node"
        >
        </sky-tree-view-node-wrapper>
      </ng-template>

    </tree-root>

</sky-tree-view>

<p>
  <b>Selected nodes:</b>
  {{ selectedNodeIds }}
</p>
